# Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle
.gradle/
build/

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/

# Log Files
*.log

# Keystore
*.jks
*.keystore

# PDF ve dökümanlar (gerekirse kaldırabilirsiniz)
*.pdf
*.docx

# Python
*.pyc
__pycache__/

# Misc
*.txt
!gradle-wrapper.properties

